@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* font-family: 'Gemunu Libre', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Gemunu Libre', sans-serif;
}
body {
  display: grid;
  place-content: center;
  height: 95vh;
}
.con{
  display: grid;
  place-content: center;
  width: 400px;
  height: 550px;
  border-radius: 11px;
  background: #ffffff;
  box-shadow:  17px 17px 34px #d6d6d6,
             -17px -17px 34px #ffffff;
}

img#mimg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff;
  box-shadow:  8px 8px 17px #d6d6d6,
           -8px -8px 17px #ffffff;
}

.img-con {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 8px 8px 17px #d6d6d6, -8px -8px 17px #ffffff;
}
h1.songName {
  text-align: center;
  margin-top: -30px;
  text-transform: capitalize;
}

h3.atistN {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #ddd;
}

.control-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.control-icon i {
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.control-icon i:hover {
  color: gray;
}
.ani{
  animation: golgol 3s linear infinite;
}
@keyframes golgol {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}



.progTime {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.progresCon {
    margin-top: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.bgpro {
  cursor: pointer;
    width: 250px;
    height: 5px;
    position: relative;
    background: linear-gradient(145deg, #e6e6e6, #e6e6e6);
    box-shadow:  6px 6px 15px #d4d4d4,
             -6px -6px 15px #ffffff;
}

.innerpro {
  cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background: red;
    z-index: 100;
    color: beige;
    transition: 0.3s linear;
}